* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* App.js */

.round-edge {
  border-radius: 1rem;
}

.round-edge-bottom {
  border-bottom-left-radius: 1rem !important;
  border-bottom-right-radius: 1rem !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.footer {
  background-color: darkgoldenrod;
  color: white;
  grid-area: footer;
  padding: 1.5rem;
}

.img {
  margin: auto;
}

.navbar {
  background-color: rgb(250, 229, 159);
}

.breadcrumb-item svg {
  margin-bottom: 3px;
}

#logo {
  height: 35px;
  width: 35px;
  margin-right: .3rem;
}

.navbar-page-icon a {
  cursor: pointer;
  margin-left: .8rem;
}

.fa {
  color: white;
  font-size: 2rem !important;
  padding: 0 .5rem;
}

.footer {
  text-align: center;
}

.footer ul {
  padding: 0;
}

/* HomeScreen.js */

.carousel {
  overflow: hidden;
  border-radius: 1rem;
}

.carousel-item {
  height: 40rem;
  width: 100%;
  align-items: center;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

.carousel-inner {
  border-radius: 1rem;
}

.carousel-control {
  border-radius: 1rem;
  height: 40rem;
}

.carousel-item > img {
  border-radius: 1rem;
  width: 100%;
  max-height: 40rem;
}

.carousel-caption {
  position: absolute;
  background-color: rgb(250, 229, 159); /*rgb(184, 134, 11);*/
  max-width: 30rem;
  margin: auto;
}

.carousel-caption h3, .carousel-caption p {
  color: blue;
}

#tagline {
  max-width: 100%;
}

#tagline h3 {
  font-size: 2.8rem;
  text-align: center;
  padding-bottom: 1rem;
}

#tagline h3 span {
  /* TODO: fix wrapping on small devices */
  background-color: rgb(250, 229, 159); /*gold;*/
  overflow-wrap: break-word;
  display: inline-block;
  /* max-width: 75%; */
  /* display: break;
  overflow-wrap: break-word; */
}

#tagline p {
  text-align: center;
  font-size: 1.2rem;
}

hr {
  padding-bottom: 2rem;
}

/* MensScreen.js */

@media only screen and (min-width: 768px) { 
  #productContainer {
    border-bottom-right-radius: 1rem;
  }

  #filterContainer {
    border-bottom-left-radius: 1rem;
  }
}

@media only screen and (max-width: 767px) { 
  #productContainer {
    border-radius: 1rem;
  }

  #filterContainer {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-bottom: 1rem;
  }
}

.bg-dark-grey {
  background-color: rgb(216, 220, 224);
}

.bg-light-grey {
  background-color: rgb(228, 231, 235);
}

.content-container nav {
  padding-bottom: 0;
}

.breadcrumb {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
  margin-bottom: 0 !important;
  background-color: none !important;
}

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  /* list-style: none; */
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.products li {
  flex: 0 1 18rem;
  margin: 1rem;
  list-style-type: none;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* max-width: 40rem; */
}

/* ProductScreen.js */

#productWindow {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

#productImage {
  flex: 6 3 auto;
}

#productDesc {
  /* flex: 5 1 auto; */
  flex: 5 1 15rem;
}

/* BasketScreen.js */

.basket {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: flex-start;
}

.basket-list {
  flex: 3 1 60rem;
}

.basket-action {
  flex: 1 1 20rem;
  background-color: #f8f8f8;
  border-radius: .5rem;
  padding: 1rem;
}

.basket-list-container {
  padding: 0;
  list-style-type: none;
  padding: 1rem;
}

.basket-list-container li {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: .1rem #808080 solid;
}

.basket-list-container li img {
  max-width: 10rem;
  max-height: 10rem;
}

.basket-list-container li:first-child {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.basket-image {
  flex: 1 1;
}

.basket-name {
  flex: 8 1;
}

.basket-price {
  flex: 1 1;
  font-size: 2.5rem;
  text-align: right;
}